<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
                           http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <context:annotation-config /> 
    <context:component-scan base-package="pl.edu.agh" />

     <bean id="muvtoProperties"
           class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:muvto.properties" />
     </bean>

    <bean id="crossoverOperator"
          class="org.uma.jmetal.operator.impl.crossover.SinglePointCrossover">
        <constructor-arg value="0.9" />
    </bean>

    <bean id="mutationOperator"
          class="org.uma.jmetal.operator.impl.mutation.BitFlipMutation">
        <constructor-arg value="0.25" />
    </bean>

    <bean id="selectionOperator"
          class="org.uma.jmetal.operator.impl.selection.BinaryTournamentSelection">
    </bean>

    <bean id="geneticAlgorithmBuilder"
          class="pl.edu.agh.muvto.solver.builder.GeneticAlgorithmBuilderExt">
        <constructor-arg name="crossoverOperator" ref="crossoverOperator" />
        <constructor-arg name="mutationOperator" ref="mutationOperator" />
        <property name="populationSize" value="100" />
        <property name="maxEvaluations" value="25000" />
        <property name="selectionOperator" ref="selectionOperator" />
    </bean>

    <bean id="solver"
          class="pl.edu.agh.muvto.solver.MuvtoSolver">
        <constructor-arg ref="geneticAlgorithmBuilder"></constructor-arg>
    </bean>

    <bean id="solverProvider"
          class="pl.edu.agh.muvto.solver.MuvtoSolverProvider">
        <constructor-arg value="4" />
    </bean>

</beans>
